<form>
  <div class="form-group">
    <label for="code">Codigo :</label>
    <input type="text" class="form-control" id="code" placeholder="codigo de producto" name="code" [(ngModel)]="product.code">
  </div>
  <div class="form-group">
    <label for="description">Descripcion :</label>
    <input type="text" class="form-control" id="description" placeholder="descripcion del producto" name="code" [(ngModel)]="product.description">
  </div>
  <button type="submit" (click)="add()">Agregar</button>
</form>
<label>{{message}}</label>