<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th>
              ID
            </th>
            <th>
              CODE
            </th>
            <th>
              DESCRIPTION
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let product of products; let i = index" (click)="onSelectedProduct(product)">
            <td>
              {{i}}
            </td>
            <td>
              {{product.getId}}
            </td>
            <td>
              {{product.getCode}}
            </td>
            <td>
              {{product.getDescription}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>