<table class="table">
  <thead>
    <tr>
      <th>
        ID
      </th>
       <th>
        CODE
      </th>
      <th>
        DESCRIPTION
      </th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let product of products; let i = index">
      <td>
        {{product.getId}}
      </td>
      <td>
        {{product.getCode}}
      </td>
      <td>
        {{product.getDescription}}
      </td>
      <td>
        <button (click)="editProduct(i)" type="button" class="btn btn-warning">Editar</button>
        <button (click)="deleteProduct(i)" type="button" class="btn btn-danger">Eliminar</button>
        <button  type="button" class="btn btn-default">⇑</button>
        <button  type="button" class="btn btn-default">⇓</button>
      </td>
    </tr>

  </tbody>
</table>
