<div class="row" *ngIf="this.items.length>0">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>
              #
            </th>
            <th class="visible-lg visible-sm hidden-xs">
              ID
            </th>
            <th>
              CODIGO
            </th>
            <th>
              DESCRIPTION
            </th>
            <th>
              PRECIO
            </th>
            <th>
              CANTIDAD
            </th>
            <th>
              IMPORTE
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of items; let i = index">
            <td class="active">
              {{i}}
            </td>
            <td class="active visible-lg visible-sm hidden-xs">
              {{item.product.getId}}
            </td>
            <td class="active">
              {{item.product.getCode}}
            </td>
            <td class="active">
              {{item.product.getDescription}}
            </td>
            <td class="warning">
              {{item.price}}
            </td>
            <td class="warning">
              {{item.quantity}}
            </td>
            <td class="warning">
              {{item.price * item.quantity}}
            </td>
            <td class="danger">
              <button (click)="editItem(i)" type="button" class="btn btn-warning">e</button>
              <button (click)="deleteItem(i)" type="button" class="btn btn-danger">x</button>
              <button type="button" (click)="up(i)" class="btn btn-default">⇑</button>
              <button type="button" (click)="down(i)" class="btn btn-default">⇓</button>
              <button type="button" (click)="positionToUpdate=i" class="btn btn-info" data-toggle="modal" data-target="#changePositionModal">#</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row" *ngIf="totals.subtotal>0">

  <div class="col-md-4 col-xs-4">

  </div>
  <div class="col-md-5 col-xs-4">
  </div>
  <div class="col-md-3 col-xs-4">
    <div class="table-responsive">
      <table class="table  table-hover">
    
          <tr>
            <th class="info text-center">
              Subtotal
            </th>
            <td  class="success text-center">
              $ {{totals.subtotal}}
            </td>

          </tr>
          <tr>
            <th class="info text-center">
              IVA
            </th>
            <td  class="success text-center">
              $ {{totals.iva}}
            </td>

          </tr>
          <tr>
            <th class="info text-center">
              Total
            </th>
            <td  class="success text-center">
              $ {{totals.total}}
            </td>

          </tr>
       </table>
    </div>
  </div>
</div>