<div class="container">

  <div class="row">

    <div class="col-sm-4 col-xs-12">
      <div style="width:200px;height:165px; display: block;margin: 0 auto;">
        <!--img src="{{'../../assets/images/logo.png'}}" alt="logo-BP" width="100%" height="100%"-->
        <img [src]="pathLogo" alt="logo-BP" width="100%" height="100%">
        <!-- DIFERENTES MANERAS DE REFERENCIAR EL LOGO:
          <img src="{{ angularLogo }}">
          <img [src]="angularLogo">
          <img bind-src="angularLogo">
        -->
      </div>
      <br>
    </div>
    <div class="col-sm-8 col-xs-12 text-left">
      <p class="hidden-xs">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quasi numquam beatae odit suscipit temporibus repellendus,
        dolore quibusdam voluptatum nemo exercitationem natus omnis dolores. Error ea dolores illo. Velit, aliquid.
      </p>
      <p class="hidden-xs">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quasi numquam beatae odit suscipit temporibus repellendus,
        dolore quibusdam voluptatum nemo exercitationem natus omnis dolores. Error ea dolores illo. Velit, aliquid.
      </p>
      <p class="hidden-xs">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod quasi numquam beatae odit suscipit temporibus repellendus,
        dolore quibusdam voluptatum nemo exercitationem natus omnis dolores. Error ea dolores illo. Velit, aliquid.
      </p>
    </div>
  </div>



  <hr>


  <div *ngIf="login; then ifcondition else elsecondition"> ... </div>

  <ng-template #ifcondition>
    <h4>Bienvenido {{name}}</h4>
  </ng-template>

  <ng-template #elsecondition>
    <h4>Debe iniciar sesion para poder trabajar con </h4>
    <ul>
      <li>Clientes</li>
      <li>Productos</li>
      <li>Ventas</li>
    </ul>
  </ng-template>


  <div class="row text-center">
    <nab-login (emitter)="receiveLogin($event)" (emitter2)="receiveLogout($event)"></nab-login>
  </div>
</div>